<header class="header flex">
    <div class="logo-container">
      <img src="starter-code\assets\shared\logo.svg" alt="logo image" class="img logo-img">
    </div>
    <button class="btn menu-btn bg-dark" data-opened="false" aria-controls="nav"><span class="sr-only">menu button</span></button>
    <hr class="row" aria-hidden="true">
    <nav class="navbar" id="nav" aria-expanded="false">
      <ul class="primary-navigation flex">
        <li class="primary-navigation__item text-white uppercase"><button><span class="numbered-title">00 </span>Home</button></li>
        <li class="primary-navigation__item text-white uppercase"><button><span class="numbered-title">01 </span>Destination</button></li>
        <li class="primary-navigation__item text-white uppercase"><button><span class="numbered-title">02 </span>Crew</button></li>
        <li class="primary-navigation__item text-white uppercase"><button><span class="numbered-title">03 </span>Technology</button></li>
      </ul>
    </nav>
  </header>