

    <h1 class="main-header main-header--tech text-white fs-500 uppercase letter-spacing-2"><span class="numbered-title text-accent">03</span> Space launch 101</h1>

    <picture class="tech-pic img-container--tech">
        <source data-name="images" srcset="starter-code\assets\technology\image-launch-vehicle-portrait.jpg" media="(min-width:53em)">
        <img data-name="images" src="starter-code\assets\technology\image-launch-vehicle-landscape.jpg" alt="Commander" class="img">
    </picture>
    
    <div data-cat="tech" role="tablist" class="number-indicators flex">
        <button data-name="Launch vehicle" aria-selected="true" role="tab" class="number-indicators-item bg-dark text-white fs-500 ">1</button>
        <button data-name="Spaceport"  aria-selected="false" role="tab" class="number-indicators-item bg-dark text-white fs-500 ">2</button>
        <button data-name="Space capsule"  aria-selected="false" role="tab" class="number-indicators-item bg-dark text-white fs-500 ">3</button>
    </div>

    <article class="grid-container grid-container--tech" aria-labelledby="tech-title">
        <h2 class="main-header grid text-accent fs-500 uppercase ff-serif letter-spacing-2">
            <span>The terminology...</span>
            <span data-name="name" class="d-block text-white fs-700 letter-spacing-1">Launch vehicle</span>
        </h2>
        <p data-name="description" class="main__description main__description--tech text-accent">
            A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a 
            payload from Earth's surface to space, usually to Earth orbit or beyond. Our 
            WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, 
            it's quite an awe-inspiring sight on the launch pad!
        </p>  
    </article>






